
@font-face {
  font-family: "Syne";
  src: url(../assets/syne-regular.woff), url(../assets/syne-regular.woff2);
}

@font-face {
  font-family: "Syne Extra";
  src: url(../assets/syne-extra.woff), url(../assets/syne-extra.woff2);
}

body {
  font-family: "Syne", Arial;
  font-size: 32px; 
  line-height: 1.25; 
  background-color: #f4e6d8; 
  color: #15403d; 
  margin: 240px auto 240px auto;
  max-width: 1120px; 
}


p {
  font-family: "Syne Extra";
  color: #e5745d;
}


header {
  position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px; 
  text-align: center; 
  z-index: 1;

}

/* don't add to the scrolled class because we want the effect when we add it
    and when we remove it */
header img {
  width: 136px; 
  transition: width 0.5s; 
}

header.scrolled img {
  width: 64px; 
}

section {
  margin: 80px 0 80px 0;
  display: flex;
  /* by default, the flex direction is row */
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; 
}


section:nth-child(even) {
  flex-direction: row-reverse; 
}

/* adding in position relative to the below two enables parallax later */

section div {
  position: relative;
  padding: 40px; 
}

section img {
  position: relative;
}








